mat-card{
    box-sizing: border-box;
    width: 100%;
    height: 100%;

	overflow: auto;
}
.date{
    font-size: 0.8em;
    font-style: italic;
}
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    &:hover{
        cursor: pointer;
    }
}
.image img{
    width: 100%;
    min-width: 400px;
    height: auto;
    cursor: pointer;
}
