<mat-card *ngIf="station">
    <mat-card-header fxLayout="column">
        <h2>{{ station?.name }}</h2>
        <p>{{ station?.code }}</p>
        <p class="date">Zuletzt aktualisiert: {{ getDate() |  date:'dd/MM/yyyy HH:mm'}}</p>
        <mat-icon class="close" (click)="close()">close</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Temperatur">
                <h3 *ngIf="station?.t!='--'">Lufttemperatur: {{ station?.t }} C°</h3>
                <h3 *ngIf="station?.w!='--'">Wassertemperatur: {{ station?.w }} C°</h3>
                <h3 *ngIf="station?.sd!='--'">Sonnenscheindauer: {{ station?.sd }} h</h3>
                    <div class="image">
                        <img (click)="openDialog(getDiagram('LT'))" [src]="getDiagram('LT')">
                    </div>
            </mat-tab>
            <mat-tab label="Wind">
                <h3 *ngIf="station?.dd!='--'">Windrichtung: {{ station?.dd }}</h3>
                <h3 *ngIf="station?.ff!='--'">Mittlere Windgeschwindigkeit: {{ station?.ff }} km/h</h3>
                <div class="image">
                    <img (click)="openDialog(getDiagram('WG'))" [src]="getDiagram('WG')">
                </div>
            </mat-tab>
            <mat-tab label="Niederschlag">
                <h3 *ngIf="station?.n!='--'">Niederschlagssumme seit Mitternacht: {{ station?.n }} mm</h3>
                <h3 *ngIf="station?.rh!='--'">Relative Luftfeuchtigkeit: {{ station?.rh }}%</h3>
                <h3 *ngIf="station?.hs!='--'">Schneehöhe: {{ station?.hs }} cm</h3>
                <div class="image">
                    <img (click)="openDialog(getDiagram('LF'))" [src]="getDiagram('LF')">
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>